<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Formulaire Utilisateur</title>
    <link rel="icon" href="../images/favicon.ico" />
</head>

<body class="bg-light text-dark">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <header class="bg-warning ombre">
        <nav class="navbar">
            <a class="nav-link text-decoration-none navbar-brand" href="../index.html">
                <h2 class=" text-dark">Formulaire Candidature</h2>
            </a>

            <ul class="nav nav-pills">
                <li id="active" class="active nav-item"><a href="../index.html" class="nav-link text-dark">Polemploi</a></li>
                <!-- <li class="nav-item"><a href="./views/crud.html" class="nav-link text-dark">CRUD</a></li> -->
                <li id="drop" class="nav-item dropdown isAdmin hide">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CRUD</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../views/crud/crud_candidature.html">Candidatures</a>
                    <a class="dropdown-item" href="../views/crud/crud_competence.html">Competences</a>
                    <a class="dropdown-item" href="../views/crud/crud_offre_emploi.html">Offres</a>
                    <a class="dropdown-item" href="../views/crud/crud_societe.html">Societes</a>
                    <a class="dropdown-item" href="../views/crud/crud_type_offre.html">Types Offres</a>
                    <a class="dropdown-item" href="../views/crud/crud_utilisateur.html">Utilisateurs</a>
                    <a class="dropdown-item" href="../views/crud/crud_employer.html">Employer</a>
                    </div>
                </li>
                <li class="nav-item isInSociete hide"><a href="../views/societe.html" class="nav-link text-dark">Societe</a></li>
                <li class="isConnected hide nav-item"><a href="../views/perso.html" class="nav-link text-dark">Mes Infos</a></li>
                <li id="login" class="nav-item"><a href="../views/connexion.html" class="nav-link text-dark hide">login</a></li>
                <li id="logout" class="nav-item"><a href="" class="nav-link text-dark hide">logout</a></li>
            </ul>
        </nav>
    </header>

    <main class="text-center">
        <br>
        <div class="connect">
            <div class="container container-md container-lg">
                <div class="card row">
                    <div class="col-md-8 col-lg-8 mx-auto">
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <br>
                                <h3>Candidature</h3>
                                <br>
                                <input class="form-control" placeholder="Titre de la Candidature" type="text" id="titre">
                                <input class="form-control" placeholder="Description de la Candidature" type="text" id="description">
                                <br>
                                <button class="btn btn-primary" id="bouton_validation">Envoyer la Candidature</button>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </main>

    <script src="../javascripts/formulaire_for_user.js"></script>

    <footer>

    </footer>
</body>

</html>